<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>value1</string>
	<string>value2</string>
	<string>value3</string>
	<string>value4</string>
	<string>value5</string>
	<string>value6</string>
	<string>value7</string>
	<string>value8</string>
	<string>value9</string>
	<string>value10</string>
	<string>AAA</string>
	<string>BBB</string>
	<string>kkkk</string>
</array>
</plist>
